<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  {{# each htmlWebpackPlugin.files.css }}
  <link rel="stylesheet" href="{{ this }}">
  {{/ each }}
  {{# each htmlWebpackPlugin.files.extracted.css }}
  <link rel="stylesheet" href="/dist/{{ this.file }}" media="{{ this.query }}">
  {{/ each }}
</head>
<body>
  <body>
    <main>
      <h1>Import test</h1>
      <button id="class-test">
        Click
      </button>
      <section>
        <ul id="users-list"></ul>
        <button id="get-users">Get Users</button>
      </section>
      <section>
        <form>
          <label for="first_name">First Name:
            <input type="text" name="first_name" id="first_name">
          </label>
          <label for="last_name">Last Name:
            <input type="text" name="last_name" id="last_name">
          </label>
          <label for="email">Email:
            <input type="text" name="email" id="email">
          </label>
          <button type="submit">Add User</button>
        </form>
        <p id="form-confirm"></p>
      </section>
    </main>
  {{# each htmlWebpackPlugin.files.js }}
    <script src="{{ this }}"></script>
  {{/ each}}
  {{# each htmlWebpackPlugin.files.extracted.js }}
    <script src="{{ this.file }}"></script>
  {{/ each}}
  </body>
</body>
</html>